@import "colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Adwita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    min-height: 0px; /* تغییر از min-width به min-height */
    padding: 0;
    margin: 0;
}

window#waybar {
    background: alpha(@background, 0.9);
    min-height: 0px;
}

tooltip {
    background: @background;
    border: 1px solid @color3;
    border-radius: 12px;
}

tooltip label {
    color: @foreground;
    padding: 6px;
}

#workspaces {
    padding: 3px 5px;
    margin: 0 4px;
    color: @foreground;
}

#workspaces button {
    margin: 0 4px; /* فاصله افقی بین دکمه‌ها */
    color: alpha(@foreground, 0.5);
    background: alpha(lighter(@color4), 0.1);
    transition: all 0.3s ease-in-out;
    min-width: 20px; /* حداقل عرض برای کلیک راحت‌تر */
}

#workspaces button.active {
    background: @color6;
    color: @backgroundMain;
    min-width: 40px;
    font-size: 16px;
    font-weight: bold;
}

#workspaces button:hover {
    background: @color1;
    color: @background;
    min-width: 40px;
}

#workspaces button.urgent {
    background: @red;
    color: @background;
    transition: all 0.3s ease-in-out;
}

/* استایل مشترک برای ماژول‌های متنی */
#language,
#pulseaudio,
#custom-notification,
#network,
#custom-updates {
    background: @background;
    padding: 0 12px; /* پدینگ افقی به جای عمودی */
}

#clock {
    background: alpha(@backgroundMain, 0.6);
    color: @color6;
    padding: 0 10px;
    margin: 0 4px;
}

#custom-notification { color: @foreground; font-size: 15px; }
#pulseaudio { color: @color2; font-size: 16px; font-weight: bold; }
#network { color: @color4; font-size: 16px;  margin-right: 8px;}
#language { color: @color5; font-size: 15px; }

/* اصلاح بخش ساعت برای نمایش افقی */
#clock.hour,
#clock.date,
#clock.month,
#clock.day,
#clock.sep {
    color: alpha(@foreground, 0.8);
    font-size: 18px; /* سایز متعادل برای حالت افقی */
    padding: 0 20px;
}

#clock.hour {
    color: @color6;
    font-weight: bold;
}

#clock.month, #clock.date, #clock.day {
    border: none; /* حذف بوردرهای عمودی قبلی */
    margin: 0;
    padding: 0 8px;
}

#clock.date {
    padding-left: 18px;
}

#clock.day {
    color: @color2;
    padding-right: 16px;
}

#custom-updates {
    color: @color4;
    font-weight: bold;
    font-size: 16px;
}

#custom-updates.critical {
    color: @red;
}